@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
	font-family: 'Cabin', 'nanumbarungothic';
}

a {
	color: #444444;
	text-decoration: none;
	
}

@font-face { font-family: 'NanumBarunGothic';
src: url('/font/NanumBarunGothic.eot');
src: url('/font/NanumBarunGothic.eot') format('embedded-opentype'),
url('/font/NanumBarunGothic.woff') format('woff');}

p {font-family:'나눔바른고딕', NanumBarunGothic;}

/* ----- HEAD  ----- */


#header_div {
    width: 1200px;
    height: 20px;
    align: center;
    margin: 0 auto;
    padding: 8px;
   
   
}

.rspc_status {
	width: 1200px;
	height: 30px;
	float: right;
	margin: 0 auto;
	background: #fff;
	text-align: right;
	text-decoration: none;
	font-color: #444444;
	font-family: 'Cabin';
	
}

.rspc_status a {
	text-decoration: none;
	font-color: #444444;
	font-size: 12pt;
	text-align: center;
	margin: 9px 45px 0 0;
	font-family: 'Cabin';
}


#wrap {
   position: relative;
   font-size: 17pt;
   font-color: #444444;
   width: 1200px;
   height: 65px;
   margin: -70px auto; 
   background-color: transparent;
   position: relative; 
   text-shadow: 1px 1px 1px 1px rgba(51,51,51,.8);
   }

#wrap img {
	position: absolute;
	margin: 0 0 0 0;
	top: 0;
	
	
}

#navbar {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0 45px 0 0;
   padding: 0;
   }
   
#navbar li {
   list-style: none;
   float: left; 
   }
   
#navbar li a {
   display: block;
   padding: 18px 18px 0px 18px;
   text-transform: uppercase;
   text-decoration: none; 
   color: #e5e1e0;
   font-weight: bold; 
   margin: 0 0 10px 0;
   }
   
#navbar li a:hover {
   color: #444; 
   }
   
#navbar li ul {
   display: none;  
   }
   
#navbar li:hover ul, #navbar li.hover ul {
   position: absolute;
   display: inline;
   left: 0;
   width: 100%;
   margin: 0;
   padding: 0; 
   }
   
#navbar li:hover li, #navbar li.hover li {
   float: left;
   margin: 0 0 3px 0; 
   }
   
#navbar li:hover li a, #navbar li.hover li a, #navbar li:active ul {
   color: #444;
   weight: 200; 
   }
   
#navbar li li a:hover {
   color: #ff6666; 
   }
   

/*---*/

.ribbon {
 font-size: 17pt !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. 
 I've used em's to position each element for scalability. 
 If you want to use a different font size 
 you may have to play with the position of the ribbon elements */

 width: 1200px;
 position: relative;
 background: #ff6666;
 color: #efeee8;
 text-align: left;
 padding: 1.65em 2em; /* Adjust to suit */
 margin: 0 auto; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #993333 transparent transparent transparent;
 bottom: -1.97em;
}
.ribbon .ribbon-content:before {
 left: 1px;
 border-width: 2em 0 0 2em;
}
.ribbon .ribbon-content:after {
 right: 1px;
 border-width: 2em 2em 0 0;
}



/* ----- HOT BODY ----- */

#body_div {
    width: 1200px;
    align: center;
    margin: 75px auto;
   
}
