.about{
	min-width: 800px;
}

.about-div{
	float: left;
	width: 100%;
	position: relative;
}
.about-img{
	width: 100%;
}

.contact-div{
	float: left;
	width: 100%;
	margin-top: 70px;
	height: 500px;
	position: relative;
	background-color: #888;
}
.contact-div-form{
	margin: auto;
}

.contact-div-title{
	margin-top: 20px;
	text-align: center;
}
.contact-big-title{
	font-size: 50px;
	font-weight: bold;
	color: #000;
}
.contact-small-title{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	letter-spacing: 1px;
}

.contact-hr{
	width: 60%;
	margin: 20px auto 30px;
	background-color: #000;
	height: 3px;
}

@media screen and (max-width : 1000px) {
	.contact-hr{
		width: 600px;
		margin: 20px auto 30px;
		background-color: #000;
		height: 3px;
	}
	.contact-form{
		width: auto;
		margin: auto;
	}
}


.contact-form{
	width: 600px;
	margin: auto;
}
.contact-form-title{
	margin-bottom: 20px;
	font-weight: bold;
	color: #000;
}
.contact-label{
	font-size: 30px;
}
.contact-btn{
	width: 150px;
	height: 35px;
	margin-top: 5px;
	background-color: #555;
	font-size: 18px;
	color: #000;
	float: right;
	border: 1px solid #555;
	border-radius: 4px;
}
