.space_search{
	overflow-y:hidden;
	overflow-x:hidden;
}

#map-canvas {
	height: 100%;
	width: 40%;
	position: relative;
	top: 70px;
	float: left;
	margin: 0 auto;
	padding: 0px;
}

.space-info{
	height: 100%;
	width: 60%;
	position: relative;
	top: 70px;
	float: left;
}

.space-info span{
	font-size: 20px;
	font-family: 'NotoSansKR-Black';
}

.space-title{
	float: left;
	background-color: #fff;
}
.space-info .space-content{
	float: left;
	margin-left: 70px;
	background-color:#eee;
}

.space-info-period, .space-info-purpose, .space-info-region, .space-info-price, .space-info-list{
	float: left;
	width: 100%;
	height: 70px;
	padding: 20px;
	min-height: 50px;
}

.space-info-period{
	background-color:#f0f;
}
.space-info-period>.space-content>input{
	cursor: pointer;
	height: 40px;
	width: 180px;
	text-align: center;
	margin-left: 20px;
}
.space-info-period>.space-content>.ui-datepicker-trigger{
	height: 40px;
	width: 40px;
}
.space-info-period>.space-content>span{
	font-size: 20px;
	margin-left: 20px;
}
.space-info-period>.space-content>.space-btn-weekday{
	border-radius: 8px;
	width: 80px;
	height: 40px;
	font-size: 18px;
	margin-left: 20px;
}
.space-info-period>.space-content>.space-btn-weekend{
	border-radius: 8px;
	width: 130px;
	height: 40px;
	font-size: 18px;
	margin-left: 20px;
}
.space-info-period>.space-content>button{
	text-decoration:none;
}
.space-info-period>.space-content>button:active{
	text-decoration:none;
	color: #fff;
}

.space-info-purpose{
	height: 120px;
	background-color:#ff0;
}
.space-info-purpose .space-title{
	margin-top: 20px;
}
.space-info-purpose .space-content div{
	float: left;
	margin-left: 40px;
	margin-right: 10px;
	text-align: center;
}
.space-info-purpose>.space-content a{
	font-size: 18px;
	text-decoration:none;
}
.space-info-purpose>.space-content img{
	width: 60px;
}

.space-info-region{
	background-color:#0ff;
}
.space-info-region>.space-content a{
	font-size: 18px;
	margin-left: 20px;
	margin-right: 10px;
	text-decoration:none;
	text-align: center;
}

.space-info-price{
	background-color:#ddd;
}
.space-info-price>.space-content>.space-btn-price{
	margin-left: 20px;
	margin-right: 60px;
	width: 100px;
	height: 40px;
	border-radius: 8px;
	font-size: 18px;
	
}
.space-info-price>.space-content>button{
	text-decoration:none;
}

.space-info-list{
	direction: ltr;
	overflow-y: scroll;
	height: 1000px;
	background-color:#aaa;
}

.space-info-no-list{
	display: none;
}