body {
    font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
  font-family: "linecons";
  src: url('fonts/linecons.eot');
  src: url('fonts/linecons.eot?#iefix') format('eot'), 
    url('fonts/linecons.woff') format('woff'), 
    url('fonts/linecons.ttf') format('truetype'), 
    url('fonts/linecons.svg#linecons') format('svg')
    url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css)
    url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css)
    url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css)
    url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css)
    url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    ;
  font-weight: normal;
  font-style: normal;
}



.nanum-g { font-family: 'Nanum Gothic'; }
.nanum-b { font-family: 'Nanum Brush Script'; }
.nanum-gc { font-family: 'Nanum Gothic Coding'; }
.nanum-m { font-family: 'Nanum Myeongjo';  }
.nanum-p { font-family: 'Nanum Pen Script'; }




h3 {
    font-size: 180%;
    font-weight: 300;
    margin: 46px 0 15px 10px;
    text-align: center;
    font-family: 'Nanum Gothic';
}

h4 {
    font-size: 120%;
    font-weight: 400;
    color: #fff;
}

h5 {
	font-size:50%;
	font-weight: 200;
	font-color: #999999;
	font-family: 'Nanum Gothic';
	
}

a {
    color: #e66e0d;
}

p a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #000;
}

a.button_dark, a.button_light {
    background-color: #e66e0d;
    display: block;
    width: 90px;
    padding: 15px 30px 0 30px;
    height: 33px;
    text-align: center;
    margin: auto;
    z-index: 2;
    position: relative;
    color: #fff;
    font-size: 11pt;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0px 1px #d72d05;
    border: 5px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: inset 0px 1px #f08715;
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.button_darky {
    background-color: #e66e0d;
    display: block;
    width: 90px;
    padding: 15px 30px 0 30px;
    height: 33px;
    text-align: center;
    margin: auto;
    z-index: 2;
    position: relative;
    color: #fff;
    font-size: 11pt;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0px 1px #d72d05;
    border: 5px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: inset 0px 1px #f08715;
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.button_light {
    margin-left: 10px;
    width: 100px;
    border: 5px solid #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 1px #dbdbdb;
}

a:hover.button_dark, a:hover._button_light {
    background-color: #d76203;
    text-shadow: 0px -1px #a70d00;
    border: 5px solid rgba(0, 0, 0, .4);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    box-shadow: inset 0px 1px 2px #c14d00;
}

a:hover.button_light {
    background-color: #d76203;
    border: 5px solid #f5f5f5;
    box-shadow: 0px 0px 0px 1px #cbcbcb;
}

.moreabout .button_dark {
    margin: 0;
}

.pxline {
    height: 1px;
    width: 100%;
    background-color: #fff;
    color: #fff;
    opacity: 0.1;
    position: relative;
    top: 30px;
    z-index: 1;
}

hr.cleanit {
    visibility: hidden;
    clear: both;
    margin-bottom: 20px;
}

div.cara {
    clear: both;
    width: 940px;
    height: 1px;
    background-color: #cccccc;
    margin-top: 40px;
    margin-left: 10px;
}

div.cbrb {
    clear: both;
    width: 940px;
    height: 1px;
    background-color: #ffffff;
    margin-top: 40px;
    margin-left: 10px;
}

/* ---------- Header ---------- */

#header {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

#header_in {
    width: 960px;
    padding: 0px 10px 0 10px;
    height: 50px;
    margin: auto;
    position: relative;
}

#header_in h1 {
    font-size: 15pt;
    letter-spacing: 1px;
    float: left;
    padding-top: 11px;
}

#header_in h1 a {
    text-decoration: none;
    color: #111;
    font-weight: 100;
}

#header_in h1 a b {
    font-weight: 600;
}

    /* ----- Menu ----- */
    
    #menu {
	position: absolute;
	right: 00px;
	font-size: 95%;
	height: 50px;
	background: url('img/menu_cut.jpg') no-repeat scroll right;
	margin-right: 0px;
    }
    
    
    #menu ul li {
	float: left;
	display: inline;
	height: 50px;
    }
    
    #menu ul li a {
	text-decoration: none;
	color: #101115;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	display: block;
	padding: 15px 40px 0 40px;
	height: 36px;
	background-color: #fff;
    }
    
    #menu ul li a:hover {
	background-color: #f3f3f3;
	height: 36px;
    }
    
    #menu ul li a.active {
	background: none;
	color: #fff;
	height: 50px;
    }
    
    
    /* --- */


/* ---------- Main part (slider) ---------- */



#main_part, #main_part_inner {
    width: 100%;
    height: 465px;
    background: url('img/main_img_1.jpg') scroll no-repeat center;
    background-color: #000;
    border-bottom: 7px solid #e5e5e5;
}

#main_part_in, #main_part_inner_in {
    width: 960px;
    margin: auto;
}

#main_part_in h2, #main_part_inner_in h2 {
    padding-top: 120px;
    padding-bottom: 14px;
    font-size: 280%;
    font-weight: 600;
    text-align: center;
    color: #e66e0d;
    text-shadow: 0px 1px #000;
}

#main_part_in p {
    font-size: 150%;
    font-weight: 300;
    font-family: 'Nanum Gothic';
    color: #bcbcbc;
    text-align: center;
    text-shadow: 0px 1px #000;
}

#main_part .button_main {
    margin-top: 60px;
}

		/* ---------- Main part, inner pages (headline) ---------- */
		/* -- Some of the css already included in the previous "Main part" for homepage -- */
		
		#main_part_inner {
		    height: 150px;
		    background: url('img/main_img_1.jpg') scroll no-repeat top center;
		    background-color: #f3f3f3;
		}
		
		#main_part_inner_in {
		    position: relative;
		}
		
		#main_part_inner_in h2 {
		    padding-top: 46px;
		    text-align: left;
		}
		
		#main_part_inner .button_main {
		    position: absolute;
		    top: 46px;
		    right: 15px;
		}
		
		/* --- */


/* ---------- Content ---------- */

#content {
    width: 960px;
    margin: auto;
    padding-top: 40px;
}

#content_inner {
    width: 960px;
    margin: auto;
    padding-top: 0;
}

    /* ----- thirds / fourths (homepage) / sixths (about)----- */
	.featured h3 {
	margin-top: 30px;
	margin-left: 30px;
	font-size: 150%;
	font-weight: 300;
	color: #27292a;
	margin-bottom: 18px; 
	text-align: left;  
    }


    .thirds {
	width: 300px;
	margin: 0 10px 0 10px;
	float: left;
    }
    
    .thirds h3 {
	margin-top: 0;
	margin-left: 0;
	font-size: 150%;
	font-weight: 300;
	color: #27292a;
	margin-bottom: 18px;   
    }
    
    .thirds p {
	font-size: 90%;
	font-family: 'Nanum Gothic';
	color: #37393a;
	line-height: 160%;
    }
    
    .fourths_portfolio {
	max-width: 220px;
	max-height: 220px;
	width: expression(this.width>220:true);
    height: expression(this.width>220:true);
	margin: 0 10px 20px 10px;
	background-color: #e66e0d;
	float: left;
	position: relative;
    }
    
    .fourths_portfolio a {
	display: block;
	width: 220px;
	height: 220px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    }
    
    .fourths_portfolio a:hover {
	opacity: 0.15;
    }
    
    .fourths_portfolio h4 {
	position: absolute;
	top: 80px;
	display: block;
	width: 220px;
	font-family: 'Nanum Gothic';
	text-align: center;
	text-shadow: 0px 1px #d72d05;
    }
    
    .fourths_portfolio img {
	position: absolute;
    }
    
    .fourths_portfolio span {
	font-size: 90%;
	font-weight: 200;
	text-shadow: 0px 1px #b70d02;
    }
    
    .sixths_team {
	width: 140px;
	height: 160px;
	margin: 0 10px 0 10px;
	background-color: #e66e0d;
	float: left;
	position: relative;
    }
    
    .sixths_team a {
	display: block;
	width: 140px;
	height: 140px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    }
    
    .sixths_team a.profession {
	display: block;
	width: 140px;
	height: 20px;
	background-color: #fff;
	text-decoration: none;
	font-size: 95%;
	padding-top: 10px;
    }
    
    .sixths_team a.profession:hover {
	opacity: 1;
    }
    
    .sixths_team a:hover {
	opacity: 0.10;
    }
    
    .sixths_team h4 {
	position: absolute;
	top: 50px;
	display: block;
	width: 140px;
	text-align: center;
	text-shadow: 0px 1px #d72d05;
	font-weight: 200;
	font-size: 100%;
	line-height: 140%;
    }
    
    .sixths_team img {
	position: absolute;
    }
    
    .sixths_team span {
	font-weight: 400;
	text-shadow: 0px 1px #b70d02;
    }
    
    .left_portfolio {
	width: 700px;
	height: 520px;
	margin: 0px 0 0 0px;
	padding: 10px 3px 10px 3px;
	background-color: #fff;
	float: left;
	position: relative;
	
    }
    
    .left_portfolio img {
	position: relative;
	width: 656px;
	height: 369px;
	align: center;
    }
    
    .right_portfolio {
	width: 240px;
	height: 520px;
	margin: 10px 0 0px 10px;
	background-color: #fff;
	float: left;
	position: relative;
    }
    
    .right_portfolio h3 {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 185%;
	font-weight: 900;
	color: #e66e0d;
	margin-bottom: 5px;
	text-align: left; 
	letter-spacing:-1px;
	float: left;
    }
    
 
    .right_portfolio h5 {
	font-size:80%;
	font-weight: 200;
	color: #767676;
	font-family: 'Nanum Gothic';
	margin-left: 5px;
	text-align: left;
	  
    }
    
    .right_portfolio span {
    display: inline;
	font-size:90%;
	font-weight: 200;
	color: #767676;
	font-family: 'Nanum Gothic';
	margin-left: 5px;
	  
    }
    
    
    .right_portfolio img {
	position: absolute;
    }
    
    .ac-container{
    width: 241px;
    margin: 118px auto 5px auto;
	}
    
    .ac-container label{
    font-family: 'Nanum Gothic';
    padding: 5px 20px 5px;
    position: relative;
    z-index: 25;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 14px;
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 2px 2px rgba(0,0,0,0.1);
	}
	
	.ac-container label:hover{
    background: #fff;
	}
    
    .ac-container input:checked + label,
	.ac-container input:checked + label:hover{
    background: #eaeaea;
    color: #e66e0d;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
	}
	
	.ac-container label:hover:after,
	.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(img/arrow_down.png) no-repeat center center;  
	}
    
    .ac-container input:checked + label:hover:after{
    background-image: url(img/arrow_up.png);
	}
	
	.ac-container input{
    display: none;
	}
    
    .ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;
	}
	
	.ac-container input:checked ~ article{
    transition: 
        height 0.5s ease-in-out, 
        box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	}
    
    .ac-container article p{
    font-style: normal;
    font-family:'Nanum Gothic';
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	}
	
	.ac-container article span{
    font-style: normal;
    font-family:'Nanum Gothic';
    float: right;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 0px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	}
	
	.ac-container input:checked ~ article.ac-small{
    height: 100px;
	}
	.ac-container input:checked ~ article.ac-medium{
    height: 162px;
	}
	.ac-container input:checked ~ article.ac-large{
    height: 230px;
	}
    
    /*--slider--*/
    
.slider-wrapper ul,
.slider-wrapper li,
.slider-wrapper div,
.slider-wrapper img,
.slider-wrapper a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
}
 
.slider-wrapper {
    width: 665px;
    overflow: hidden;
}
 
ul.s-thumbs li {
    float: left;
}
 
ul.s-slides,
ul.s-slides li,
ul.s-slides a,
ul.s-slides img {
    width: 656px;
    height: 369px;
    position: relative;
}
 
ul.s-slides {
    overflow: hidden;
    clear: both;
}
 
ul.s-slides li {
    position: absolute;
    z-index: 50;
}
    
    /*---sliderstyle start---*/
    
    ul.s-thumbs li {
    float: left;
    margin-bottom: 10px;
    margin-right: 11px;
}
 
ul.s-thumbs li:last-child {
    margin-left: 1px;
    margin-right: 0;
}
 
ul.s-thumbs a {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px 0 0 0;
    border: 0px solid transparent;
 
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
 
    font: bold 12px/25px Arial, sans-serif;
    color: #515151;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(255,255,255,.25), inset 1px 1px 0px rgba(0,0,0,.15);
}
 
ul.s-thumbs img {
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
    max-width: 60px;
    max-height: 60px;
    width: expression(this.width>60:true);
    height: expression(this.width>60:true);
    
}
 
ul.s-thumbs a:hover,
ul.s-slides {
    border: 1px solid #e66e0d;
 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
 
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,.05);
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255,.05);
    box-shadow: 0px 1px 0px rgba(255,255,255,.05);
}


/* Slide Left */
 
@-webkit-keyframes 'slideLeft' {
    0% { left: -656px; }
    100% { left: 0; }
}
 
ul.s-slides li.slideLeft:target {
    z-index: 100;
 
    -webkit-animation-name: slideLeft;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

/*---sliderstyle end---*/
    
    
    
    
    .map_portfolio {
	width: 960px;
	height: 300px;
	margin: 0 0 20px 0px;
	background-color: #e66e0d;
	float: left;
	position: relative;
	border: 1px solid #999999;
    }
    
    .map_portfolio img {
	position: absolute;
    }
    
    
    .story_portfolio {
	width: 955px;
	height: 200px;
	margin: 11px 0px 0px 0px;
	background-color: #fff;
	float: right;
	position: relative;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    }
    
    .story_portfolio img {
	position: absolute;
    }
    
    .story_portfolio h4 {
	position: absolute;
	top: 50px;
	width: 940px;
	text-align: center;
	text-color: black;
	font-weight: 200;
	font-size: 100%;
	line-height: 140%;
    }
    
    .signup {
	width: 400px;
	height: 700px;
	margin: 0 0 20px 0px;
	background-color: #fff;
	float: left;
	position: center;
    }
    
    .signup img {
	position: absolute;
    }
    
    /* --- */
    
		/* ----- History (About us) ----- */
		/* --- this section is really not pixel-perfect, so you might want to redo it, if it doesn't fit your needs :) */
    
		.history_blok {
		    background-color: #1e2022;
		    width: 855px;
		    min-height: 100px;
		    margin: 70px 0 0 10px;
		    padding: 43px 40px 30px 45px;
		}
		
		.history_blok h3 {
		    color: #f8f9f9;
		    font-weight: 200;
		    margin: 0;
		}
		
		.history_blok img.milestones {
		    margin: 30px 0 0 -13px;
		}
		
		.milestone1, .milestone2, .milestone3, .milestone4 {
		    width: 170px;
		    float: left;
		    margin-left: 32px;
		}
		
		.milestone1 {
		    margin-left: 0;
		}
		
		.milestone2 {
		    width: 188px;
		}
		
		.milestone3 {
		    width: 205px;
		}
		
		.milestone4 {
		    width: 190px;
		}
		
		.miles {
		    padding-top: 2px;
		    font-size: 95%;
		    font-weight: 300;
		    line-height: 180%;
		    color: #e9ecef;
		}
		
		.miles b {
		    font-size: 105%;
		    font-weight: 400;
		}
		
		.descr {
		    margin-top: 3px;
		    color: #a4a8ad;
		    font-size: 90%;
		    font-weight: 300;
		    line-height: 150%;
		}
		
		.moreabout {
		    background-color: #1e2022;
		    width: 855px;
		    min-height: 100px;
		    padding: 35px 40px 40px 45px;
		    margin-left: 10px;
		    margin-bottom: 60px;
		    border-top: 1px #292b2d solid;
		}
		
		.moreabout p {
		    width: 860px;
		    color: #e9ecef;
		    font-size: 115%;
		    font-weight: 200;
		    line-height: 160%;
		    margin-bottom: 25px;
		}
		
		.moreabout b {
		    font-weight: 400;
		    color: #fff;
		}
		
		
		/* --- */
		
		/* ----- Services (About us) ----- */
		
		a.services_list {
		    width: 298px;
		    height: 85px;
		    display: block;
		    float: left;
		    margin: 8px 10px 12px 10px;
		    border: 1px #ccc solid;
		    text-decoration: none;
		    color: #333;
		    -webkit-transition: all 0.2s ease-in-out;
		    -moz-transition: all 0.2s ease-in-out;
		    -o-transition: all 0.2s ease-in-out;
		    -ms-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
		    position: relative;
		}
		
		a:hover.services_list {
		    background-color: #1e2022;
		    border: 1px #1e2022 solid;
		    color: #e4e4e4;
		    font-weight: 100;
		}
	    
		
		.services_list span {
		    display: block;
		    float: left;
		    width: 179px;
		    margin-left: 100px;
		    font-size: 105%;
		    padding-top: 19px;
		}
		
		.services_list span b {
		    font-weight: 400;
		    line-height: 140%;
		}
		
		
		a.services_list span.icon_services {
		    display: block;
		    float: left;
		    width: 62px;
		}
		
		    /* -- Web Icons (linecons) -- */
		    
		    .ico_paperplane:before, .ico_iphone:before, .ico_food:before, .ico_message:before, .ico_mapmark:before, .ico_shop:before {
			font-family: linecons;
			font-weight: 100;
			font-style: normal;
			font-size: 310%;
			position: absolute;
			top: 14px;
			left: 17px;
			-webkit-font-smoothing: antialiased;
		    }
		    
		    .ico_paperplane:before {
			content: "\e01e";
		    }
		    
		    .ico_iphone:before {
			content: "\e017";
			left: 20px;
		    }
		    
		    .ico_food:before {
			content: "\e026";
			left: 19px;
			top: 13px;
		    }
		    
		    .ico_message:before {
			content: "\e019";
			left: 21px;
		    }
		    
		    .ico_mapmark:before {
			content: "\e012";
			left: 21px;
		    }
		    
		    .ico_shop:before {
			content: "\e02a";
			left: 22px;
		    }
		
		    /* ---- */
		    
		    
    /* --------- Our Work (portfolio stuffs) ---------- */
		
    ul#work_filter {
    margin: 20px 0 22px 0;
    }
	    
    #work_filter li a, .pagination li a {
    text-decoration: none;
    color: #27292a;
    font-size: 100%;
    font-weight: 200;
    font-family: 'Nanum Gothic';
    letter-spacing: 1px;
    }
	    
    #work_filter li a:hover, .pagination li a:hover {
    color: #000;
    font-weight: 400;
    }
	    
    #work_filter li a.active, .pagination li a.active {
    font-weight: 400;
    }
		
    #work_filter li, .pagination li {
    display: inline;
    margin: 0 10px 0 10px;
    }
    
    .pagination {
	text-align: right;
	margin-top: 20px;
    }
 

p.youlike, p.teamline {
    font-size: 125%;
    font-weight: 400;
    line-height: 150%;
    width: 940px;
    font-family: 'Nanum Gothic';
    color: #777;
    margin: 7px 0 0 10px;
}


p.teamline {
    font-size: 110%;
    margin: -7px 0 20px 10px;
    text-align: center;
}

p.textit {
    font-size: 115%;
    font-weight: 400;
    line-height: 150%;
    width: 940px;
    margin: 50px 0 0 10px;
}

.about_blok {
    width: 550px;
    float: left;
    margin-right: 80px;
}

p.about {
    width: 540px;
    margin: -10px 0 25px 10px;
    color: #27292a;
    font-size: 95%;
    font-weight: 400;
    line-height: 165%;
}

.testimonials {
    width: 318px;
    min-height: 80px;
    float: left;
    margin-top: 50px;
}

.testimonials .quote {
    border: 1px solid #bbb;
    border-bottom: none;
    font-size: 90%;
    font-weight: 400;
    line-height: 160%;
    color: #474a4c;
    padding: 20px 16px 25px 25px;
}

.testimonials_bottom {
    display: block;
    clear: both;
    width: 318px;
    height: 20px;
    background: url('design/quote_bottom.png') no-repeat scroll top;
    margin-top: -5px;
}

.testimonials span.by {
    display: block;
    width: 318px;
    text-align: right;
    font-size: 90%;
}

.testimonials ul.controls {
    
}

.testimonials ul.controls li {
    display: inline;
    float: left;
}

.testimonials ul.controls li a {
    display: block;
    width: 7px;
    height: 7px;
    padding: 3px;
    background: url('design/control.png') no-repeat scroll;
}

.testimonials ul.controls li a:hover, .testimonials ul.controls li a.current {
    background: url('design/control_active.png') no-repeat scroll;
}


/* ---------- Contact ---------- */

form.formit {
    margin-left: 10px;
}

.formit input[type="text"] {
    padding: 15px 22px;
    height: 20px;
    width: 230px;
    border: 1px solid #bbbbbb;
    margin: 0px 18px 20px 0px;
    font-size: 75%;
    color: #010f5f;
    font-weight: 300;
    letter-spacing: 1px;
}

.formit textarea {
    width: 900px;
    height: 146px;
    margin-bottom: 22px;
    resize: none;
    padding: 20px;
    font-size: 90%;
    border: 1px solid #bbbbbb;
}

form.formit .button_submit {
    cursor:pointer;
    background-color: #e66e0d;
    width: 300px;
    height: 58px;
    color: #fff;
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: 1px;
    border: 5px solid #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 1px #dbdbdb;
    text-shadow: 0px 1px #d72d05;
}

form.formit .button_book {
    cursor:pointer;
    background-color: #e66e0d;
    width: 240px;
    height: 58px;
    color: #fff;
    font-size: 10pt;
    font-weight: 400;
    font-family: 'Nanum Gothic';
    letter-spacing: 1px;
    border: 5px solid #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 1px #dbdbdb;
    text-shadow: 0px 1px #d72d05;
}

.contactinfo {
    position: relative;
    float: left;
    margin-right: 40px;
}

.contactinfo .ico_mapmark:before, .contactinfo .ico_message:before, .contactinfo .ico_iphone:before {
    font-size: 140%;
    top: 0;
    left: 10px;
}

.contactinfo b {
    font-size: 110%;
    font-weight: 300;
    padding-left: 45px;
}

.mapit {
    width: 960px;
    margin: 0px 0 0 0px;
    border: 1px solid #999999;
    
}

.mapspace {
    width: 656px;
    heighth: 369px;
    margin: 0px 0 0 0px;
    border: 1px solid #999999;
    
}

/*----------- Sign Tabs ----------*/


/* ---------- Footer ---------- */




#footer {
    width: 100%;
    height: 182px;
    background: url('img/bg_footer.jpg') scroll no-repeat center;
    background-color: #000;
    color: #a5a5a5;
    font-weight: 300;
    font-size: 90%;
    margin-top: 80px;
}

#footer_in {
    width: 960px;
    margin: auto;
    position: relative;
    padding-top: 50px;
    font-family: 'Nanum Gothic';
}


#footer_in p {
    float: left;
}

#footer_in a {
    color: #fff;
    text-decoration: none;
}

#footer_in a:hover {
    color: #fff;
    text-decoration: underline;
}

#footer_in span {
    position: absolute;
    right: 10px;
}



/* ---------- Other elements ---------- */

.banner1 {
    width: 890px;
    height: 76px;
    padding: 20px 0 0 50px;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 30px;
    background: url('img/banner1.jpg') no-repeat scroll;
    background-color: #000;
    color: #c3ccd5;
    position: relative;
}

.banner1 p {
    font-weight: 200; 
    font-size: 18pt;
    font-family: 'Nanum Gothic';
    display: block;
    width: 630px;
    text-shadow: 0px 1px #000;
}

.banner1 p b {
    color: #fff;
    font-weight: 300;
}

.banner1 a.button_dark {
    width: 100px;
    position: absolute;
    right: 42px;
    top: 17px;
}

.banner2 {
    width: 890px;
    height: 76px;
    padding: 42px 0 0 50px;
    margin: auto;
    background: url('img/banner1.jpg') no-repeat scroll;
    background-color: #000;
    color: #c3ccd5;
    position: relative;
}

.banner2 p {
    font-weight: 200; 
    font-size: 20pt;
    display: block;
    width: 630px;
    text-shadow: 0px 1px #000;
}

.banner2 p b {
    color: #fff;
    font-weight: 300;
}

.banner2 a.button_dark {
    width: 100px;
    position: absolute;
    right: 42px;
    top: 30px;
}


a.button_sign {
    background-color: #e66e0d;
    width: 300px;
    height: 58px;
    color: #fff;
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: 1px;
    border: 5px solid #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 1px #dbdbdb;
    text-shadow: 0px 1px #d72d05;
}








