.space_search{
	overflow-y:hidden;
	overflow-x:hidden;
}

#map-canvas {
	height: 100%;
	width: 40%;
	position: relative;
	top: 70px;
	float: left;
	margin: 0 auto;
	padding: 0px
}

.space-info{
	height: 100%;
	width: 60%;
	position: relative;
	top: 70px;
	float: left;
}

.space-info span{
	font-size: 18px;
	font-family: 'NotoSansKR-Black';
}

.space-title{
	float: left;
	background-color: #fff;
}
.space-info .content{
	float: left;
	margin-left: 50px;
	background-color:#eee;
}

.space-info-period, .space-info-purpose, .space-info-region, .space-info-price, .space-info-list{
	float: left;
	width: 100%;
	height: 70px;
	padding: 25px;
	min-height: 50px;
}

.space-info-period{
	background-color:#f0f;
}
.space-info-purpose{
	height: 120px;
	padding: 50px 25px;
	background-color:#ff0;
}
.space-info-region{
	background-color:#0ff;
}
.space-info-price{
	background-color:#ddd;
}
.space-info-list{
	direction: ltr;
	overflow-y: scroll;
	height: 1000px;
	background-color:#aaa;
}
