@font-face {
	font-family: 'NotoSansKR-Black';
	src: url('../fonts/NotoSansKR-Black.otf');
}

@font-face {
	font-family: 'NotoSansKR-Bold';
	src: url('../fonts/NotoSansKR-Bold.otf');
}

@font-face {
	font-family: 'NotoSansKR-DemiLight';
	src: url('../fonts/NotoSansKR-DemiLight.otf');
}

@font-face {
	font-family: 'NotoSansKR-Light';
	src: url('../fonts/NotoSansKR-Light.otf');
}

@font-face {
	font-family: 'NotoSansKR-Medium';
	src: url('../fonts/NotoSansKR-Medium.otf');
}

@font-face {
	font-family: 'NotoSansKR-Regular';
	src: url('../fonts/NotoSansKR-Regular.otf');
}

@font-face {
	font-family: 'NotoSansKR-Thin';
	src: url('../fonts/NotoSansKR-Thin.otf');
}

@font-face {
	font-family: 'Dense-regular';
	src: url('../fonts/Dense-Regular.otf');
}
html, body {
	height: 100%;
	font-family: 'NotoSansKR-Medium';
}

body {
	padding-top: 50px;
	/* body padding for fixed top nav */
}

.img-home-portfolio, .img-customer, .portfolio-item {
	margin-bottom: 30px;
}

.tab-pane {
	margin-top: 15px;
}

/* Page Sections */
.section, .section-colored2 {
	padding: 50px 0;
}

.section-colored1 {
	padding: 0 0 50px 0;
}

.section-colored1 {
	background-color: #ff3300;
	color: #fff
		/* change this to change the background color of a colored section */
}

.section-colored2 {
	background-color: #333333;
	color:#cccc99;
	/* change this to change the background color of a colored section */
}

.sidebar {
	margin-top: 40px;
}

.sidebar ul {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
	height: 65%;
}

.item, .active, .carousel-inner {
	height: 100%;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
	margin-bottom: 45px;
}

.tooltip-social a {
	text-decoration: none;
	color: inherit;
}

.facebook-link a:hover {
	color: #3b5998;
}

.linkedin-link a:hover {
	color: #007fb1;
}

.twitter-link a:hover {
	color: #39a9e0;
}

.google-plus-link a:hover {
	color: #d14836;
}

/* Service Page Styles */
.service-icon {
	font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
	font-size: 8em;
}

/* Pricing Page Styles */
.price {
	font-size: 4em;
}

.price-cents {
	vertical-align: super;
	font-size: 50%;
}

.price-month {
	font-size: 35%;
	font-style: italic;
}

/* Footer Styles */
footer {
	margin: 15px 0;
}

/* Responsive Styles */
@media ( max-width : 767px) {
	.carousel {
		height: 70%;
		/* increases the carousel height so it looks good on phones */
	}
}


.project_container {
	height: 290px;
	width: 30.3333333%;
	background-color: #cccc99;
	color: #333333;
	float: left;
	margin: 0 15px 30px;
	position: relative;
	min-height: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	-webkit-box-shadow: 1px 1px 2px rgba(140, 140, 139, 0.4);
	-moz-box-shadow: 1px 1px 2px rgba(140, 140, 139, 0.4);
	box-shadow: 1px 1px 2px rgba(140, 140, 139, 0.4);
}

.project_container_imgbox {
	background-position: -1px 220px;
	height: 220px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.project_containerbox_img {
	background-image: url(../images/main_portfolio.png);
}

.project_container_info {
	height: 70px;
}

.project_container_info_left {
	float: left;
	text-align: left;
	margin: 10px 0px 0px 10px;
}

.project_container_info h3 {
	margin: 0 0 5px 0;
}

.project_container_info h4 {
	margin: 0;
}

.project_container_detail {
	text-align: left;
	margin-left: 10px;
	font-size: 12px;
}

.main_3containers {
	text-align: center;
}

.vertical_line{
	border-left: solid #d2d2d2;
	height: 50%;
}