@font-face {
	font-family: 'NotoSansKR-Black';
	src: url('../fonts/NotoSansKR-Black.otf');
}

@font-face {
	font-family: 'NotoSansKR-Bold';
	src: url('../fonts/NotoSansKR-Bold.otf');
}

@font-face {
	font-family: 'NotoSansKR-DemiLight';
	src: url('../fonts/NotoSansKR-DemiLight.otf');
}

@font-face {
	font-family: 'NotoSansKR-Light';
	src: url('../fonts/NotoSansKR-Light.otf');
}

@font-face {
	font-family: 'NotoSansKR-Medium';
	src: url('../fonts/NotoSansKR-Medium.otf');
}

@font-face {
	font-family: 'NotoSansKR-Regular';
	src: url('../fonts/NotoSansKR-Regular.otf');
}

@font-face {
	font-family: 'NotoSansKR-Thin';
	src: url('../fonts/NotoSansKR-Thin.otf');
}

@font-face {
	font-family: 'Dense-regular';
	src: url('../fonts/Dense-Regular.otf');
}

html, body {
	height: 100%;
	font-family: 'NotoSansKR-Medium';
}

body {
	padding-top: 50px;
	/* body padding for fixed top nav */
}

.img-home-portfolio, .img-customer, .portfolio-item {
	margin-bottom: 30px;
}

#search_lounge{
	
}

.introduction {
	margin-top: 100px;
	z-index: 333;
	margin: 0 auto;
	color: #fff;
	text-shadow:1px 0px 10px #333;
}

#tfheader{
//		background-color:#c3dfef;
}
#tfnewsearch{
//	float:right;
	padding:20px;
}
.tftextinput{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
}
.tfbutton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
	/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
	clear:both;
}
	
/* Page Sections */
.section, .section-colored2 {
	padding: 50px 0;
}

.section-colored1 {
	padding: 0 0 50px 0;
	margin: 0 auto;
}

.section-colored1 {
	background-color: #1dd87a;
	color: #fff
		/* change this to change the background color of a colored section */
}

.section-colored2 {
	background-color: #333333;
	color: #cccc99;
	/* change this to change the background color of a colored section */
}

/* Half Page Height Carousel Customization */
.carousel {
	height: 80%;
}

.item, .active, .carousel-inner {
	height: 107%;
	margin: -80px 0 0 0;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

/* Footer Styles */
footer {
	margin: 15px 0;
}

.project_container {
	height: 290px;
	width: 30.3333333%;
	background-color: #d2d2d2;
	color: #333333;
	float: left;
	margin: 0 15px 30px;
	position: relative;
	min-height: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
}

.project_container_imgbox {
	background-position: -1px 220px;
	height: 220px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.project_containerbox_img {
	background-image: url(../images/main_portfolio.png);
}

.project_container_info {
	height: 70px;
}

.project_container_info_left {
	float: left;
	text-align: left;
	margin: 10px 0px 0px 10px;
}

.project_container_info h3 {
	margin: 0 0 5px 0;
}

.project_container_info h4 {
	margin: 0;
}

.project_container_detail {
	text-align: left;
	margin-left: 10px;
	font-size: 12px;
}

.main_3containers {
	text-align: center;
}

.filters_container {
	width: 20%;
	height: 436px;
	background-color: #66cc99;
	float: left;
}

.map_container {
	width: 80%;
	height: 436px;
	background: url("../images/map.PNG");
	float: left;
}

.img_hover {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 73px;
	background: url("../images/icon_monitor.png") no-repeat;
}

.main_3containers:hover .img_hover {
	width: 96px;
	height: 73px;
	background: url("../images/icon_monitor_hover.png") no-repeat;
}

.op-100 { /* 별도로 지정할 필요 없음(기본값=1, 즉 100%) */}
            .op-80 {
                /* opacity = CSS3 투명도 지정 속성 범위는 0~1.0(지원 IE9이상, Firefix2.0이상, Chrome4.0이상, Opera9.0이상  */
                /* http://caniuse.com/css-opacity 참조 */
                opacity: 0.8;
 
                /* Firefox 이전 버전에서 투명도 지정 */
                -moz-opacity: 0.8;
 
                /* Safari 이전 버전에서 투명도 지정 */
                -khtml-opacity: 0.7;
 
                /* MS Internet Explorer 8,9에서 투명도 지정. 반드시 filter보다 앞에 와야 함. 범위는 0~100 */
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 
                /* MS Internet Explorer 4,5,6,7에서 투명도 지정. 8,9도 filter 지원하나 브라우저 모드에 따라 지원하지 않을 수 있으므로 추가함 */
                filter: alpha(opacity=80);
            }
            .op-60 {
                opacity: 0.6;
                -moz-opacity: 0.6;
                -khtml-opacity: 0.6;
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
                filter: alpha(opacity=60);
            }
            .op-40 {
                opacity: 0.4;
                -moz-opacity: 0.4;
                -khtml-opacity: 0.4;
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
                filter: alpha(opacity=40);
            }
            .op-20 {
                opacity: 0.2;
                -moz-opacity: 0.2;
                -khtml-opacity: 0.2;
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
                filter: alpha(opacity=20);
            }
            .op-10 {
                opacity: 0.1;
                -moz-opacity: 0.1;
                -khtml-opacity: 0.1;
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
                filter: alpha(opacity=10);
            }
            
            